{{#bs-nav type="pills" justified=true as |nav|}}
  {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "services"}}Services{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}

<div class="container">
  {{outlet}}
</div><!-- /.container -->
